.section_commom {
    background: linear-gradient(rgba(0, 0, 0, 0.562), #000), url("https://wallpapers.com/images/high/cartoon-wedding-bride-kzrqc8awznhsjnxx.webp") no-repeat center center;
    background-size: contain;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.section_commom h1 {
    color: #fff;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .commom_section {
        padding: 70px 0px;
    }

    .commom_section h1{
        font-size: 1.4rem;
    }
}